/* reset styles */
*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* height:max-content; */
  height: 100%;
  background-color: black;
  font-family: sans-serif;
  width: auto;
}

.hamburger-menu {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  position: absolute;
  top: 40px;
  left: 20px;
  color: #e714b2 !important;
  background-color: #000;
  height: 50px;
}

.line {
  width: 100px;
  height: 5px;
  background-color: #e714b2;
  margin: 5px 0;
}

.menu {
  /* display: flex; */
  display: none;
  flex-direction: column;
  position: absolute;
  top: 60px;
  left: 20px;
  background-color: #000;
  width: 10rem;
  padding: 20px;
  border: 1px solid black;
  box-shadow: 0 6px 40px #e215bc, 0 6px 15px #e714b2!important;
}

.menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu li {
  margin-right: 20px;
}

.menu li a {
  color: #fff;
  text-decoration: none;
}

/* body {
  display: flex;
  flex-direction: column;
  width: 100%;
} */
/* custom styles */
header {
  display: flex;
  flex-direction: column;
  height: max-content;
  width: 100%;
  /* background-color: rgb(233, 79, 79); */
  color: white;
  text-align: center;
  background-color: #000;
  padding: 15px;
  align-items: space-evenly;
  margin-bottom: 1rem;
}

.title-container {
  display: flex;
  flex-direction: column;
}

.music-left {
  background-image: url("./favicon.svg");
  background-size: cover;
  height: 5rem;
  width: 5rem;
  position: absolute;
  top: 2.5rem;
  left: 16rem;
}

.music-left2 {
  background-image: url("./favicon.svg");
  background-size: cover;
  height: 5rem;
  width: 5rem;
  position: absolute;
  top: 1.5rem;
  left: 21rem;
}

music-right {
  background-image: url("./favicon.svg");
}

h1 {
  font-size: 52pt;
  background-color: #000;
}

h2 {
  font-size: xx-large;
  background-color: #000;
}

/* .contact-page {} */

hr {
  background-color: #e215bc;
  color: #e714b2;
  height: 3px;
  /* box-shadow: 10px 10px 0 12px rgb(237, 64, 185); */
  box-shadow: 0 6px 40px #e215bc, 0 6px 15px #e714b2!important;
}

.text-container {
  display: flex;
  justify-content: space-around;
  height: 10rem;
  margin-top: 4rem;
  background-color: #000;
}

.connecting-text {
  height: fit-content;
  text-align-last: center;
  color: #e215bc;
  font-size: xx-large;
  margin: 3rem;

}

.connecting-text:hover {
  transition: transform ease-in-out 0.2s;
  transform: scale(2);
  /* animation: text-spin infinite 4s linear; */
  text-shadow: 0 6px 40px #e814ef, 0 6px 15px #542048;
}

.good-beats-text {
  height: fit-content;
  text-align-last: left;
  color: #e215bc;
  font-size: xx-large;
  margin: 3rem;
}

.good-beats-text:hover {
  animation: text-spin infinite 4s linear;
  text-shadow: 0 6px 40px #e814ef, 0 6px 15px #542048;
}

.together-text {
  height: fit-content;
  text-align-last: right;
  color: #e215bc;
  font-size: xx-large;
  margin: 3rem;
}

.together-text:hover {
  animation: text-move infinite 0.5s linear;
  text-shadow: 0 6px 40px #e814ef, 0 6px 15px #542048;
}

.gold-face-box,
.contact-box {
  display: flex;
  flex-direction: column;
  width: 100%;
  /* margin-top: 2rem;
  margin-bottom: 2rem; */
  /* height: auto; */
  /* background-image: url("./images/gold_face.jpg"); */
}

.gold-face-img {
  background-position-x: center;
  background-image: url("./images/gold_face_w_text_p.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  margin-bottom: 2rem;
  /* box-shadow: 0 4px 8px 0 rgba(245, 34, 206, 0.2), 0 6px 20px 0 rgba(240, 29, 223, 0.19); */
}

/* .gold-face-img:hover {
  transform: scale(1.1);
  transition: transform ease-in-out 0.3s;
} */

.contact-img {
  background-position-x: center;
  background-image: url("./images/small_images/heart-in-hands\ \(Small\).jpg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  margin-bottom: 2rem;
}

#grid {
  height: 100vh;
  transition: 500ms;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 3px;
  background: rgb(13, 10, 10);
}

:where(.left, .center, .right, .bottom-left, .bottom-center, .bottom-right) {
  background: rgb(10, 9, 9);
  transition: 300ms;
}

:where(.left, .center, .right, .bottom-left, .bottom-center, .bottom-right):hover {
  background: crimson;
}

#grid:has(.left:hover) {
  grid-template-columns: 2fr 0.5fr 0.5fr;
  transition: 1s all;
  grid-template-rows: 2.8fr 0.2fr;
}

#grid:has(.bottom-left:hover) {
  grid-template-columns: 2fr 0.5fr 0.5fr;
  transition: 1s all;
  grid-template-rows: 0.2fr 2.8fr;
  margin-bottom: 5rem;
}

#grid:has(.center:hover) {
  grid-template-columns: 0.5fr 2fr 0.5fr;
  transition: 1s all;
  grid-template-rows: 2.8fr 0.2fr;
}

#grid:has(.bottom-center:hover) {
  grid-template-columns: 0.5fr 2fr 0.5fr;
  transition: 1s all;
  grid-template-rows: 0.2fr 2.8fr;
  margin-bottom: 5rem;
}

#grid:has(.right:hover) {
  grid-template-columns: 0.5fr 0.5fr 2fr;
  transition: 1s all;
  grid-template-rows: 2.8fr 0.2fr;
}

#grid:has(.bottom-right:hover) {
  grid-template-columns: 0.5fr 0.5fr 2fr;
  transition: 1s all;
  grid-template-rows: 0.2fr 2.8fr;
  margin-bottom: 5rem;
}

.left {
  background-image: url("./images/small_images/helen_angel_scream.jpg");
  background-size: cover;
}

.right {
  background-image: url("./images/small_images/drinks_cheers.jpg");
  background-size: cover;
}

.center {
  background-image: url("./images/small_images/very_small/gabriel-barletta-DJ_RIG\(Phone\).jpg");
  background-size: cover;
}

.bottom-left {
  background-image: url("./images/small_images/Lizard1\ \(Phone\).JPG");
  background-size: cover;
}

.bottom-right {
  background-image: url("./images/small_images/very_small/marcela-laskoski-Purple-DJ-Rig\(Phone\).jpg");
  background-size: cover;
}

.bottom-center {
  background-image: url("./images/small_images/geometric_flower_small.jpg");
  background-size: cover;
}

footer {
  height: 75px;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
  font-size: 24pt;
}

.textmsg {
  display: flex;
  justify-content: space-evenly;
  margin-top: 2rem;
}

@keyframes text-spin {
  from {
    transform: translateX(0rem);
    transform: rotate(0deg);

  }

  to {
    transform: translatex(-5rem);
    transform: rotate(360deg);

  }
}

@keyframes text-move {
  from {
    transform: translatey(0rem);
  }

  to {
    transform: translatey(-4rem);
  }
}





#grid:has(.left:hover) {
  grid-template-columns: 2.8fr 0.1fr 0.1fr;
  transition: 1s all;
  grid-template-rows: 2fr 1fr;
}

#grid:has(.bottom-left:hover) {
  grid-template-columns: 2.8fr 0.1fr 0.1fr;
  transition: 1s all;
  grid-template-rows: 1fr 2fr;
}

#grid:has(.center:hover) {
  grid-template-columns: 0.1fr 2.8fr 0.1fr;
  transition: 1s all;
  grid-template-rows: 2fr 1fr;
}

#grid:has(.bottom-center:hover) {
  grid-template-columns: 0.1fr 2.8fr 0.1fr;
  transition: 1s all;
  grid-template-rows: 1fr 2fr;
}

#grid:has(.right:hover) {
  grid-template-columns: 0.1fr 0.1fr 2.8fr;
  transition: 1s all;
  grid-template-rows: 2fr 1fr;
}

#grid:has(.bottom-right:hover) {
  grid-template-columns: 0.1fr 0.1fr 2.8fr;
  transition: 1s all;
  grid-template-rows: 1fr 2fr;
}



@media screen and (max-width: 1920px) {
  .hamburger-menu {
    display: flex;
  }

  .menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    background-color: #000;
    padding: 20px;
    height: fit-content;
    outline: 1px #000;
  }

  .menu ul {
    margin-top: 20px;
    background-color: #000;
  }

  .menu li {
    margin: 10px 0;
    background-color: #000;
  }

  .menu li a {
    font-size: 18px;
    background-color: #000;
  }

  .menu.active {
    display: flex;
  }
}

@media only screen and (max-width: 1000px) {
  /* .construction {
    height: 25rem;
  } */

  h1 {
    font-size: x-large;
  }

  h2 {
    font-size: larger;
  }

  h3 {
    font-size: x-large;
    margin: 0;
    padding: 0;
  }
  .line {
    width: 40px;
    height: 3px;
    background-color: #e714b2;
    margin: 3px 0;
  }

  .hamburger-menu {
    height:30px;
  }
}

@media only screen and (max-width: 600px) {
  .construction {
    height: 14rem;
  }

  .together-text,
  .good-beats-text,
  .connecting-text {
    font-size: large;
    justify-content: space-evenly;
    margin: 1rem;
  }

  .disable-select {
    user-select: none;
    /* standard */
    -moz-user-select: none;
    /* firefox specific */
    -webkit-user-select: none;
    /* Chrome, Opera and Safari*/
    -ms-user-select: none;
    /* IE, ms-edge */
  }

  .line {
    width: 30px;
    height: 3px;
    background-color: #e714b2;
    margin: 3px 0;
  }

  .hamburger-menu {
    height:30px;
  }

  .gold-face-img,
  .contact-img {
    margin: 0;
  }
}